.column {
  box-sizing: border-box;
  border: 1px solid grey;
  height: 30px;
  width: 30px;
}

.row {
  display: flex;
}

.show {
  background-color: gray;
}

.mine {
  background-color: red;
}

/* .container {
  display: flex; 
} */